.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #eee;
  }
  
  .red-snackbar {
    --mdc-snackbar-supporting-text-color: rgb(255, 114, 114);
  }
  