<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Back to courses -->
            <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['../..']">
                <span class="inline-flex items-center">
                    <mat-icon class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:arrow-small-left'"></mat-icon>
                    <span class="ml-1.5 font-medium leading-5">Back to api keys</span>
                </span>
            </a>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{apiKey.name}}
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3" mat-flat-button [color]="'accent'" (click)="save()">
                <mat-icon class="icon-size-4" [svgIcon]="'mat_outline:save'"></mat-icon>
                <span class="ml-2">Save</span>
            </button>
        </div>
    </div>

    <!-- Edit mode -->
    <div>
        <ng-container>

            <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="composeForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput [formControlName]="'name'">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Key</mat-label>
                    <input matInput disabled value="********">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:key'"></mat-icon>
                </mat-form-field>
                <fuse-alert [appearance]="'outline'" [showIcon]="false"
                [type]="'info'">
                We do not display the key second time. If you do not remember it, please create a new one.
            </fuse-alert>
            </form>

        </ng-container>
    </div>

</div>